PORT=3000
JWT_SECRET=campus-user-secret
ADMIN_JWT_SECRET=campus-admin-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456

DB_HOST=localhost
DB_PORT=8887
DB_USER=sa
DB_PASSWORD=123456Aa
DB_NAME=CampusLifeService
DB_TRUST_SERVER_CERTIFICATE=true

UPLOAD_DIR=uploads
